.mainDiv{
	text-align: center;
	background-color: cyan;
}

#QuoteOfTheDay{
	font-size: 50px;
	color: blue;
}

#Quote{
	color: green;
	font-size: 40px;
}

#getAnotherQuoteButton{
	margin-bottom: 10px;
	font-style: oblique;
	background-color: orange;
	font-size: 20px;
	font-weight: 10px;
}

#getQuoteOfSpecificPerson{
	background-color: pink;
	text-align: center;
}

#replaceQuotesAutomaticallyButton{
	margin-bottom: 10px;
	font-style: italic;
	background-color: orange;
	font-size: 20px;
}

#selectPerson{
	background-color: yellow;
	margin-bottom: 10px;
}

#getQuoteOfSpecificPersonButton{
	margin-bottom: 10px;
	font-style: oblique;
	background-color: orange;
	font-size: 15px;
}

#suggestQuote{
	background-color: cyan;
	margin-bottom: 10px;
	font-size: 30px;
	text-align: center;
}

#submitQuoteButton{
	margin-bottom: 10px;
	font-size: 18px;
}

#selectProffesion{
	font-size: 18px;
}

.input{
	font-size: 20px;
}

#submitQuoteConfirmation{
	font-size: 40px
}